{{#each this}}
<div class="col-8 col-sm-6 col-md-4 col-xl-3" id="{{StarID}}-card">
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{StarID}}-modal">
    <div class="card">
      <img src="assets/stars/{{Color}}.png" class="card-img-top border-bottom border-dark img-fluid">
      {{#if (lt Price 100000)}}
      <div class="badge position-absolute rounded-pill bg-danger text-white ms-4 p-2 m-2">Sale</div>
      {{/if}}
      <div class="card-body text-center py-4">
        <h4 class="card-title">
          {{ProperName}}
        </h4>
        <p class="lead card-subtitle">
          distance:<br />
          <strong>{{Distance}}</strong><br />
          magnitude:<br />
          <strong>{{AbsMag}}</strong><br />
        </p>
      </div>
      {{#if (admin)}}
      <div class="card-footer">
        <!-- MARK: Admin Buttons
         -->
        <div class="text-end">
          <a id="{{StarID}}-editBtn" href="#" data-bs-toggle="modal" data-bs-target="#{{StarID}}-editModal" class="btn mx-2 btn-primary "><i
              class="bi bi-pencil-square"></i></a>
          <a id="{{StarID}}-deleteBtn" href="#" data-bs-toggle="modal" data-bs-target="#{{StarID}}-deleteModal" class="btn btn-danger "><i
              class="bi bi-trash"></i></a>
        </div>
      </div>
      {{/if}}
    </div>
</div>
{{/each}}