{{#each this}}
<div class="container">
    <div class="row">
        <div class="col-xl-12 my-3">
            <div class="card border btn-outline-dark ">
                <button type="button " class="btn" data-bs-toggle="modal"
                        data-bs-target="#{{StarID}}-modal">
                <div class="card-body">
                    <div class="d-flex align-items-start pb-3">
                        <div class="me-4">
                            <img src= "assets/stars/{{Color}}.png" class="card-img-top d-none d-sm-block" alt="Shopping item" style="width: 200px">
                        </div>
                        
                        <div class="flex-grow-1 align-self-center overflow-hidden">
                            <div class="text-center">
                                <h1> {{ProperName}}</h1>
                                <p class="mb-0 mt-1">Color : <span class="fw-medium">{{Color}}</span></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col align-self-start">
                                <div class="mt-3">
                                     <h4 class="text-start"><p class="text-muted h5 mb-2">Price</p>{{formatCurrency Price}} €</h4>
                                    
                                    
                                </div>
                            </div>
                            <div class="col align-self-end text-end">
                              <a
                          name=""
                          id=""
                          class="btn btn-lg btn-outline-secondary"
                          href="#"
                          role="button"
                          onclick="deletecart({{StarID}})"
                          ><i
                          class="bi b bi-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}       <!-- end card -->
