<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top border-dark">
  <div class="container-lg">
    <div class="row justify-contents-center align-items-center">
      <div class="col-md-3  text-md-center">
        <h5 class="text-muted text-center">© 2024 Starcorp, Inc</h5>
      </div>
      <div class="col-md-4  text-md-center align-items-center">
        <div class="row justify-contents-center align-items-center">
          <div class="col-md-1 text-center"><a target="_blank" rel="noopener noreferrer" href="https://github.com/"
              rel="external"><i class="bi bi-github text-secondary"></i></a></div>
          <div class="col-md-1 text-center"><a target="_blank" rel="noopener noreferrer" href="https://instagram.com/"
              rel="external"><i class="bi bi-instagram text-secondary"></i></a></div>
          <div class="col-md-1 text-center"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/"
              rel="external"><i class="bi bi-twitter text-secondary"></i></a></div>
        </div>
      </div>
      <div class="col-md-5  text-md-center">
        <div class="row justify-contents-center align-items-center ">
          <div class="col-md-2 text-center">
            <a href="articles.html" class="nav-link text-secondary">Overview</a>
          </div>
          <div class="col-md-2 text-center">
            <a href="summary.html" class="nav-link text-secondary">Orders</a>
          </div>
          <div class="col-md-2 text-center">
            <a href="index.html" class="nav-link text-secondary">About</a>
          </div>
          <div class="col-md-2 text-center">
            <a href="articles.html" class="nav-link text-secondary">Buy</a>
          </div>
          <div class="col-md-2 text-center">
            <a href="warenkorb.html" class="nav-link text-secondary">Cart</a>
          </div>
          <div class="col-md-2 text-center">
            <a href="articles.html?admin=true" class="nav-link text-secondary">Admin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>