
<body>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="container-lg">
      <div class="row justify-contents-center align-items-center">
        <div class="col-md-4  text-md-center">
          <p class="text-muted text-center">© 2024 Starcorp, Inc</p>
        </div>
        <div class="col-md-4  text-md-center align-items-center">
          <div class="row justify-contents-center align-items-center">
            <div class="col-md-1 text-center"><a href="https://github.com/" rel="external"><i
                  class="bi bi-github text-secondary my-4"></i></a></div>
            <div class="col-md-1 text-center"><a href="https://instagram.com/" rel="external"><i
                  class="bi bi-instagram text-secondary my-4"></i></a></div>
            <div class="col-md-1 text-center"><a href="https://twitter.com/" rel="external"><i
                  class="bi bi-twitter text-secondary my-4"></i></a></div>
          </div>
        </div>
        <div class="col-md-4  text-md-center">
          <div class="row justify-contents-center align-items-center ">
            <div class="col-md-3 text-center">
                <a href="index.html" class="nav-link text-secondary">Overview</a>
            </div>
            <div class="col-md-3 text-center">
                <a href="FAQ.html" class="nav-link text-secondary">FAQ</a>
            </div>
            <div class="col-md-3 text-center">
                <a href="index.html#pricing" class="nav-link text-secondary">Buy</a>
            </div>
            <div class="col-md-3 text-center">
                <a href="warenkorb.html" class="nav-link text-secondary">To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>