{{#each this}}
<div class="modal  fade" id="{{total}}-modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg">
        <div class="modal-content bg-body">
            <div class="modal-header">
                <h1 class="modal-title fs-5 display-2">For {{checkout.[0].value}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <ul class="list-group mb-1">
                        {{#each data}}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <img src="assets/stars/{{Color}}.png"
                                class="card-img-top cart-image-checkout border-bottom border-dark img-fluid">
                            <div>
                                <h6 class="my-0 text-start">{{ProperName}}</h6>
                                <small class="text-muted">
                                    {{#if (lt Price 100000)}}
                                    <strong>Sale</strong>
                                    {{/if}}
                                    Distance: {{Distance}}
                                </small>
                            </div>
                            <span class="text-muted">€ {{formatCurrency Price}}</span>
                        </li>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="row justify-content-center mb-2 ">
                        <div class="col-10 col-sm-8 col-md-6 col-xl-4 justify-center text-center">
                            <ul>
                                <li class="list-group-item mt-2 justify-content-between">
                                    <span>
                                        Total
                                    </span>
                                    <strong>
                                        € {{formatCurrency total}}
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                    {{#each checkout}}
                    <div class="col-12 col-sm-10 col-md-8 col-xl-6">
                        <ul class="list-group mt-1">
                            <li class="list-group-item border-0 d-flex justify-content-between lh-condensed">
                                
                                <div>
                                    <h6 class="my-0 text-start">{{name}}</h6>
                                </div>
                                <span class="text-muted">{{value}}{{#if (eq value "")}}nothing{{/if}}
                                </span>
                            </li>
                            <hr style="height:2px">
                        </ul>
                    </div>
                    {{/each}}
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="cartAlert{{total}}" class="alert alert-success d-none" role="alert">
                    Added to cart!
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/each}}