{{#each this}}
<div class="container-xl">
    <div class="card my-2">
        <div class="card border bg-primary">
            <button type="button" class="btn" data-bs-toggle="modal"
 data-bs-target="#{{StarID}}-modal">
            <div class="row">
                <div class="col-sm-3 ">
                    <div class="mx-3 mt-3">
                        <img src="assets/stars/{{Color}}.png"
                            class="card-img-top d-none d-sm-block"
                            style="width: 100px;">
                    </div>
                </div>
                <div class="col-lg-9 mt-4 d-flex justify-content-center">
                    <h5 class="text-truncate font-size-">
                        <a class="text-white">
                            {{ProperName}}
                        </a>
                    </div>
                </div>
                </button>
                <hr>
                <div class="row">
                    <div class="col-xl-12 d-flex justify-content-center">
                        <p class="text-light fs-4 text-center">
                            € {{formatCurrency Price}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}