{{#each this}}
<div class="container">
    <div class="row">
    <button type="button" class="btn" data-bs-toggle="modal"
        data-bs-target="#{{StarID}}-modal"><a id='prod1'
            class="product-name">
            {{ProperName}}</a>
        <div class="small m-t-xs">
            {{Price}}€
        </div>
        <div class="m-t text-righ">
            <a
                class="btn btn-xs btn-outline btn-primary">Info
                <i class="fa fa-long-arrow-right"></i>
            </a>
        </div></button>
    </div>
</div>

{{/each}}